<!DOCTYPE html>
<html>
<head>
  <title>Your Ticket</title>
</head>
<body>
  <h1>🎟 Event Ticket</h1>
  <p><b>Name:</b> <%= name %></p>
  <p><b>Email:</b> <%= email %></p>
  <p><b>Phone:</b> <%= phone %></p>
  <p><b>Event Date:</b> <%= eventDate %></p>
  <p><b>Ticket ID:</b> <%= ticketId %></p>
  <img src="<%= qrCodeData %>" alt="QR Code">
  <br><br>
  <a href="/">Back to Home</a>
</body>
</html>
